<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정 - 아무 말 대잔치</title>
    <link rel="stylesheet" href="../public/css/common.css">
</head>
<body>
    <header class="community-header">
        <h1 class="community-title">아무 말 대잔치</h1>
        <img src="user-profile.jpg" alt="프로필 사진" class="user-profile">
    </header>
    <div class="page-title">회원정보수정</div>

    <div class="page-container">
        
    </div>
</body>
</html>
