<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인 - 아무 말 대잔치</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="icon" type="image/png" href="/images/globe-showing-asia-australia_1f30f.png" />
    </head>
    <body>
        <header class="community-header">
            <h1 class="community-title">🌎 Y U N I V E R S E</h1>
        </header>

        <div class="header-divider"></div>
        <div class="page-title">로그인</div>

        <div class="page-container">
            <div class="form-container">
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input
                        type="email"
                        id="email"
                        placeholder="이메일을 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input
                        type="password"
                        id="password"
                        placeholder="비밀번호를 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>
                <button class="submitButton" id="loginButton" disabled>
                    로그인
                </button>
                <button class="bottomButton" onclick="location.href='signup'">
                    회원가입
                </button>
            </div>
            <script type="module" src="/js/validation.js"></script>
            <script type="module" src="/js/login.js"></script>
        </div>
    </body>
</html>
