<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>YUNIVERSE</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/post-list.css" />
        <link rel="icon" type="image/png" href="/images/globe-showing-asia-australia_1f30f.png" />
    </head>
    <body>
        <header class="community-header">
            <h1 class="community-title" onclick="location.href='/posts'">
                🌎 유니버스
            </h1>
            <div class="profile-container">
                <img
                    alt="프로필 사진"
                    class="user-profile"
                    id="profileImage"
                />
                <div class="dropdown-menu" id="dropdownMenu">
                    <div
                        class="dropdown-item"
                        onclick="location.href='/profile/edit'"
                    >
                        회원정보 수정
                    </div>
                    <div
                        class="dropdown-item"
                        onclick="location.href='/password/change'"
                    >
                        비밀번호 수정
                    </div>
                    <div class="dropdown-item" onclick="logout()">로그아웃</div>
                </div>
            </div>
        </header>

        <div class="header-divider"></div>

        <div class="post-list-container">
            <div class="welcome-message">
                모두가 연결되는 공간,<br /> YUNIVERSE에 오신 것을 환영합니다.<br />
            </div>

            <!-- <div class="post-list-container"> -->
                <div class="button-container">
                    <button
                        class="create-post-button"
                        onclick="location.href='/upload'"
                    >
                        게시글 작성
                    </button>
                </div>
            </div>
        <!-- </div> -->
        <script type="module" src="/js/fetchPosts.js"></script>
        <script type="module" src="/js/dropdownMenu.js"></script>
    </body>
</html>
