<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입 - YUNIVERSE</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/signin.css" />
        <link rel="icon" type="image/png" href="/images/globe-showing-asia-australia_1f30f.png" />
    </head>
    <body>
        <header class="community-header">
            <a href="/" class="back-button">&lt;</a>
            <h1 class="community-title">🌎 Y U N I V E R S E</h1>
        </header>

        <div class="header-divider"></div>

        <div class="page-container">
            <div class="page-title">회원가입</div>

            <div class="form-container">
                <div class="input-group">
                    <label for="profilePhoto" class="input-label"
                        >프로필 사진</label
                    >
                    <span class="helper-text" id="profilePhotoHelper"
                        >*프로필 사진을 업로드해주세요.</span
                    >
                    <div class="profile-photo-container">
                        <input
                            type="file"
                            id="profilePhoto"
                            accept="image/*"
                            style="display: none"
                        />
                        <label for="profilePhoto" class="profile-photo">
                            <span class="plus-icon">+</span>
                        </label>
                    </div>
                </div>

                <div class="input-group">
                    <label for="email">이메일*</label>
                    <input
                        type="email"
                        id="email"
                        placeholder="이메일을 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>

                <div class="input-group">
                    <label for="password">비밀번호*</label>
                    <input
                        type="password"
                        id="password"
                        placeholder="비밀번호를 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>

                <div class="input-group">
                    <label for="passwordConfirm">비밀번호 확인*</label>
                    <input
                        type="password"
                        id="passwordConfirm"
                        placeholder="비밀번호를 한번 더 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>

                <div class="input-group">
                    <label for="nickname">닉네임*</label>
                    <input
                        type="text"
                        id="nickname"
                        placeholder="닉네임을 입력하세요"
                    />
                    <span class="helper-text"></span>
                </div>
                <button class="submitButton" id="registerButton" disabled>
                    회원가입
                </button>
                <button class="bottomButton" onclick="location.href='/'">
                    로그인하러 가기
                </button>
            </div>
        </div>
        <script type="module" src="/js/validation.js"></script>
        <script type="module" src="/js/signup.js"></script>
        <script type="module" src="/js/profilePhoto.js"></script>
    </body>
</html>
